/*额度足与不足*/
.shortfall{
  .amount{
    padding: 0 .8rem .8rem;
    background: #fff;
    text-align: center;
    color: $greyColor;
    p:first-child{
      padding-top: .8rem;
      font-size: .7rem;
    }
    label{
      position: relative;
      display: inline-block;
      padding: .5rem 0;
      margin-left: .7rem;
      font-weight: normal;
      font-size: 1.5rem;
      color: $blackColor;
    }
    label:before{
      content: '额度';
      position: absolute;
      left: -1.4rem;
      top: 1.2rem;
      font-size: .6rem;
      color: $greyColor;
    }
  }
  .os{
    padding-bottom: .3rem;
  }
  .t{
    padding: .5rem .8rem 0 .8rem;
    line-height: .9rem;
    color: $hGreyColor;
    a{
      color: $blueColor;
    }
  }
  .order{
    p{
      text-align: right;
    }
    li:last-child,li:first-child{
      position: relative;
      padding-left: 0;
    }
    .phone-code{
      position: absolute;
      top: .35rem;
      right: 0;
      height: 1.3rem;
      line-height: 1.3rem;
      padding: 0 .35rem;
      border-radius: .1rem;
      background: $blueColor;
      color: $whiteColor;
    }
  }
  .send-code{
    padding: .5rem .8rem 0 .8rem;
    color: $greyColor;
    text-align: right;
    span:first-child{
      float: left;
    }
    span:last-child{
      color: $blueColor;
    }
  }
}

/*激活失败*/
.openfail{
  p{
    padding: 1rem .8rem;
    background: #fff;
    border: 1px solid $greyBorder;
    border-top: 0;
    text-align: center;
    i{
      display: block;
      width: 3.5rem;
      height: 3.5rem;
      margin: 0 auto .8rem auto;
      background: $cry no-repeat center center;
      background-size: 100%;
    }
  }
}
/*支付成功*/
.pay-success{
  p{
    padding: 1rem .8rem;
    background: #fff;
    border: 1px solid $greyBorder;
    border-top: 0;
    text-align: center;
    font-size: .75rem;
    i{
      display: block;
      width: 3.5rem;
      height: 3.5rem;
      margin: 0 auto .8rem auto;
      background: $laugh no-repeat center center;
      background-size: 100%;
    }
    span{
      display: block;
      padding: .3rem 0;
      font-size: .65rem;
    }
  }
}

dl.pro{
  position: relative;
  height: 3.1rem;
  margin: .5rem 0;
  dt{
    position: absolute;
    left: 3.6rem;
    top: .1rem;
    line-height: .9rem;
    span{
      display: block;
      padding-top: .3rem;
      color: $greyColor;
    }
  }
  dd.num{
    position: absolute;
    left: 3.5rem;
  }
  dd.pic{
    width: 3rem;
    height: 3rem;
    border: .05rem solid #e0e8e0;
    img{
      float: left;
      width: 100%;
    }
  }
}