<div class="credit-card">
    <div class="menu-block">
        <ul>
            <li>
                <a data-page="1" href="javascript:;">
                    <label>信用卡1</label>
                    <i class="icon icon-arrow-right"></i>
                </a>
            </li>
            <li>
                <a data-page="2" href="javascript:;">
                    <label>信用卡2</label>
                    <i class="icon icon-arrow-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>