<div class="evidence">
    <div class="menu-block">
        <ul>
            <li>
                <a data-page="Job" href="javascript:;">
                    <label>工作证明</label>
                    <i class="icon icon-arrow-right"></i>
                </a>
            </li>
            <li>
                <a data-page="Edu" href="javascript:;">
                    <label>学历证明</label>
                    <i class="icon icon-arrow-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>