<%if(data){%>
<%if(data.rule == "Register"){%>
<div style="display: block;" class="protocol">
<%}else{%>
<div style="display: none;" class="protocol">
<%}%>
    <div class="block">
        <p>请务必认真阅读和理解本《用户注册协议》（下称“协议”）中规定的所有权利和限制。除非您接受本《协议》条款，否则您无权注册、登陆或使用本协议所涉及的相关服务。您一旦注册、登陆、使用或以任何方式使用本《协议》所涉及的相关服务的行为将视为对本《协议》的接受，即表示您同意接受本《协议》各项条款的约束。如果您不同意本《协议》中的条款，请不要注册、登陆或试用本《协议》相关服务。本《协议》是用户与上海前隆金融信息服务有限公司（下称“手机贷”）之间的法律协议，本《协议》具有和合同一样的法律效力。</p>
        <p>本《协议》内容包括以下条款及已经发布的或将来可能发布的各类规则。所有规则为《协议》不可分割的一部分，与《协议》正文具有同等法律效力。本《协议》是由用户与手机贷共同签订的，适用于用户在手机贷的全部活动。在用户注册时，用户已经阅读、理解并接受本《协议》的全部条款及各类规则，并承诺遵守中国现行的法律、法规、规章及其他政府规定，如有违反而导致任何法律后果的发生，用户将以自己的名义独立承担所有相应的法律责任。</p>
        <p>手机贷有权根据需要不时地制定、修改本《协议》或各类规则，如本《协议》及规则有任何变更，手机贷将在网站、手机客户端上刊载公告，经修订的《协议》、规则一经公布后，立即自动生效。用户应不时地注意本《协议》及附属规则地变更，若用户不同意相关变更，手机贷有权不经任何告知终止、中止本《协议》或者限制用户进入手机贷的全部或者部分板块且不承担任何法律责任。</p>
        <p>用户确认本《协议》后，本《协议》即在用户和手机贷之间产生法律效力。用户按照手机贷规定的注册程序成功注册为用户，既表示同意并签署了本《协议》。本《协议》不涉及用户与手机贷的其他用户之间因网上交易而产生的法律关系及法律纠纷，但用户在此同意将全面接受和履行与手机贷其他用户在手机贷签订的任何电子法律文本，并承诺按该法律文本享有和/或放弃相应的权利、承担和/或豁免相应的义务。</p>
    </div>
    <div class="block">
        <h3>一、使用限制</h3>
        <p>用户确认本《协议》后，本《协议》即在用户和手机贷之间产生法律效力。用户按照手机贷规定的注册程序成功注册为用户，既表示同意并签署了本《协议》。本《协议》不涉及用户与手机贷的其他用户之间因网上交易而产生的法律关系及法律纠纷，但用户在此同意将全面接受和履行与手机贷其他用户在手机贷签订的任何电子法律文本，并承诺按该法律文本享有和/或放弃相应的权利、承担和/或豁免相应的义务。</p>
        <p>用户承诺合法使用手机贷提供的服务及网站内容。禁止在手机贷从事任何可能违反中国现行的法律、法规、规章和政府规范性文件的行为或者任何未经授权使用手机贷的行为，如擅自进入手机贷的未公开系统、不正当地使用密码和网站任何内容等。</p>
        <p>手机贷只接受中华人民共和国（不包括香港特区、澳门特区及台湾地区）的18周岁以上的具有完全民事行为能力的自然人成为网站用户。如用户不符合资格，请勿注册。手机贷保留中止或终止用户身份的权利。用户注册成功后，不得将手机贷的用户名转让给第三方或者授权给第三方使用。用户确认，使用本人的用户的用户名和密码登录手机贷后在手机贷的一切行为均代表用户本人并由用户本人承担相应的法律后果。</p>
        <p>用户有义务在注册时提供自己的真实资料，并保证诸如电子邮件地址、联系电话、联系地址、邮政编码等内容的有效性及安全性。如用户因网上交易与其他用户产生诉讼的，手机贷将根据隐私规则使用、披露相关用户资料。</p>
        <p>经国家生效法律文书或行政处罚决定确认用户存在违法行为，或者手机贷有足够事实依据可以认定用户存在违法或违反本《协议》的行为的或者用户借款逾期未还的，用户在此同意并授权手机贷在因特网络上公布用户的违法、违约行为及用户事先提供给手机贷的信息和资料，并将该等内容记入任何与用户相关的信用资料和档案。</p>
    </div>
    <div class="block">
        <h3>二、涉及第三方网站</h3>
        <p>手机贷的手机客户端、网站内容可能涉及由第三方所有、控制或者运营的其他网站（以下称“第三方网站”）。手机贷不能保证也没有义务保证第三方网站上的信息的真实性和有效性。用户确认按照第三方网站的服务协议使用第三方网站，而不是按照本协议。第三方网站不是手机贷推荐或者介绍的，第三方网站的内容、产品、广告和其他任何信息均由用户自行判断并承担风险，而与手机贷无关。</p>
    </div>
    <div class="block">
        <h3>三、免责声明</h3>
        <p>除手机贷明确表示提供担保的业务外，手机贷提供的服务中不带有对手机贷中的任何用户、任何交易的任何保证或条件，无论是明示、默示或法定的，因此手机贷及其股东、创建人、高级职员、董事、代理人、关联公司、母公司、子公司和雇员等均不能完全保证网站内容的真实性、充分性、及时性、可靠性、完整性和有效性，并且免除任何由此引起的法律责任。</p>
    </div>
    <div class="block">
        <h3>四、责任限制</h3>
        <p>在任何情况下，手机贷对用户使用手机贷服务而产生的任何形式的直接或间接损失均不承担法律责任，包括但不限于资金损失、利润损失、营业中断损失等。因为手机贷或者涉及的第三方网站的设备、系统存在缺陷或者因为计算机病毒造成的损失，手机贷均不负责赔偿，用户的补救措施只能是与手机贷终止本协议并停止使用手机贷。但是，中国现行法律、法规另有规定的除外。</p>
    </div>
    <div class="block">
        <h3>五、网站内容监测</h3>
        <p>手机贷没有义务监测网站、手机端内容，但是用户确认并同意手机贷有权不时地根据法律、法规、政府要求披露、修改或者删除必要的、合适的信息，以便更好地运营手机贷并保护自身及手机贷的其他合法用户。</p>
    </div>
    <div class="block">
        <h3>六、个人信息授权</h3>
        <p>用户同意并不可撤销地授权手机贷对于用户提供的、手机贷自行收集的、经过认证的个人信息；授权范围包括：用户同意手机贷与业务相关的第三方对本人/本单位的相关交易信息进行收集，并在与业务相关的第三方之间共享；同时同意手机贷将查询获取的信息进行保存、整理、加工，但法律、法规、监管政策禁止查询的除外，当用户作为借款人借款逾期未还时，手机贷及作为借出人的其他用户可以使用用户的个人信息追索债权。</p>
        <p>用户的个人信息包括：本机号码、IP地址\互联网协议地址、网络连接状态、短信、通话记录、通讯录及用户提供的其他信息，以实现手机贷更好地为注册用户提供服务。手机贷可以根据本协议的规定使用或披露前述信息。</p>
        <h5>1、用户身份限制</h5>
        <p>未成年人（年龄18周岁以下人士）、中国大陆以外地区人士及自然人以外的组织等请勿向手机贷提交任何个人信息。</p>
        <h5>2、涉及的个人信息</h5>
        <p>用户提供给手机贷的个人信息及用户同意手机贷收集的个人信息的主要目的在于向用户提供一个顺利、有效和度身订造的交易体验。</p>
        <p>手机贷可能自公开来源了解用户的情况，并为其度身订造手机贷服务、解决争议并有助确保在网站进行安全交易。</p>
        <p>手机贷按照用户在手机贷网址上的行为自动追踪关于用户的某些资料。手机贷利用这些资料进行有关手机贷之用户的人口统计、兴趣及行为的内部研究，以更好地了解用户及向用户和手机贷的用户社区提供更好的服务。</p>
        <p>手机贷在手机贷的某些网页上使用诸如“Cookies”的资料收集装置。</p>
        <p>如果用户将个人通讯信息（例如：手机短信、电邮或信件）交付给手机贷，或如果其他用户或第三方向手机贷发出关于用户在手机贷上的活动或登录事项的通讯信息，手机贷可以将这些资料收集在用户的专门档案中。</p>
        <h5>3、手机贷对用户的资料的使用</h5>
        <p>用户同意手机贷可使用关于用户的个人信息（包括但不限于手机贷持有的有关用户的档案中的资料，及手机贷从用户目前及以前在手机贷上的活动所获取的其他资料）以解决争议、对纠纷进行调停、有助于确保在手机贷进行安全交易，并执行手机贷的服务协议。手机贷有时候可能调查多个用户以识别问题或解决争议，特别是手机贷可审查用户的资料以区分使用多个用户名或别名的用户。用户同意手机贷可以使用用户的个人信息以改进手机贷的推广和促销工作、分析网站的使用率、改善手机贷的内容和产品推广形式，并使手机贷的网站内容、设计和服务更能符合用户的要求。这些使用能改善手机贷的网页，以调整手机贷的网页使其更能符合用户的需求，从而使用户在使用手机贷服务时得到更为顺利、有效、安全及度身订造的交易体验。</p>
        <p>为禁止用户在手机贷上的欺诈、非法或其他刑事犯罪活动，使手机贷免受其害，用户同意手机贷可通过人工或自动程序对用户的个人信息进行评价。</p>
        <p>用户同意手机贷可以使用用户的个人信息以改进手机贷的推广和促销工作、分析网站的使用率、改善手机贷的内容和产品推广形式，并使手机贷的网站内容、设计和服务更能符合用户的要求。这些使用能改善手机贷的网页，以调整手机贷的网页使其更能符合用户的需求，从而使用户在使用手机贷服务时得到更为顺利、有效、安全及度身订造的交易体验。</p>
        <p>用户同意手机贷利用用户的资料与用户联络并向用户传递（在某些情况下）针对用户的兴趣而提供的信息，例如：有针对性的广告条、行政管理方面的通知、产品提供以及有关用户使用手机贷的通讯。</p>
        <h5>4、手机贷对用户信息的披露</h5>
        <p>虽然手机贷采用行业标准惯例以保护用户的个人信息，鉴于技术限制，手机贷不能确保用户的全部私人通讯及其他个人信息不会通过本隐私规则中未列明的途径泄露出去。</p>
        <p>手机贷有义务根据有关法律要求向司法机关和政府部门提供用户的个人信息。在用户未能按照与手机贷签订的《协议》或者与手机贷其他用户签订的借款协议等其他法律文本的约定履行自己应尽的义务时，手机贷有权根据自己的判断或者与该笔交易有关的其他用户的请求披露用户的个人信息，并做出评论。用户的借款逾期超过30天的，手机贷有权对用户提供的及手机贷自行收集的用户的个人信息和资料编辑入网站黑名单，用于审核逾期用户之后的借款申请。</p>
        <h5>5、用户对其他用户的资料的使用</h5>
        <p>在手机贷提供的交易活动中，用户无权要求手机贷提供其他用户的个人信息，除非符合以下条件：</p>
        <p>
            A. 用户已向法院起诉其他用户的在手机贷活动中的违约行为；<br>
            B. 接受用户贷款的借款人逾期未归还借款本息；<br>
            C. 手机贷被吊销营业执照、解散、清算、宣告破产或者其他有碍于用户收回借款本息的情形。
        </p>
        <h5>6、电子邮件和群组</h5>
        <p>用户不得使用手机贷提供的站内信息服务、群组服务或其他电子邮件转发服务发出垃圾邮件、信息或其他可能违反手机贷的服务协议的内容。如果您利用手机贷的服务向没有在手机贷内注册的电子邮件地址发出电子邮件，手机贷除了利用该电子邮件地址发出用户的电子邮件之外将不作任何其他用途。手机贷不会出租或出售这些电子邮件地址。手机贷不会永久储存电子邮件信息或电子邮件地址。</p>
        <h5>7、密码的安全性</h5>
        <p>用户须对使用用户的用户名和密码所采取的一切行为负责。因此，用户不要向任何第三方披露用户在手机贷的用户名和密码，否则由此造成的损失由用户自行承担。</p>
    </div>
    <div class="block">
        <h3>七、补偿</h3>
        <p>就任何第三方提出的，由于用户违反本协议及纳入本协议的条款和规则或用户违反任何法律、法规或侵害第三方的权利而产生或引起的每一种类和性质的任何索赔、要求、诉讼、损失和损害（实际的、特别的及有后果的），无论是已知或未知的，包括合理的律师费，用户同意就此对手机贷和（如适用）手机贷的母公司、子公司、关联公司、高级职员、董事、代理人和雇员进行补偿并使其免受损害。</p>
    </div>
    <div class="block">
        <h3>八、终止</h3>
        <p>除非手机贷终止本协议或者用户申请终止本协议且经手机贷同意，否则本协议始终有效。手机贷有权在不通知用户的情况下在任何时间终止本协议或者限制用户使用手机贷。</p>
    </div>
    <div class="block">
        <h3>九、适用法律和管辖</h3>
        <p>因手机贷提供服务所产生的争议均适用中华人民共和国法律，并由手机贷住所地的上海市有管辖权的人民法院管辖。</p>
    </div>
    <div class="block">
        <h3>十、附加条款</h3>
        <p>在手机贷的某些部分或页面中可能存在除本协议以外的单独的附加服务条款，当这些条款存在冲突时，在该些部分和页面中附加条款优先适用。</p>
    </div>
    <div class="block">
        <h3>十一、条款的独立性</h3>
        <p>若本协议的部分条款被认定为无效或者无法实施时，本协议中的其他条款仍然有效。</p>
    </div>
    <div class="block">
        <h3>十二、投诉与建议</h3>
        <p>用户对手机贷有任何投诉和建议，请将投诉和建议致电021-80203636或者手机贷APP平台联络客服。</p>
    </div>
</div>


<%if(data.rule == "Private"){%>
<div style="display: block;" class="protocol">
<%}else{%>
<div style="display: none;" class="protocol">
<%}%>
    <div class="block">
        <p>上海前隆金融信息服务有限公司（以下简称“前隆金融”）重视本公司旗下移动客户端产品（如：手机贷客户端）、网站、产品及服务之用户的隐私，并且尽商业上合理的一切努力保护这些隐私。本隐私政策涉及在您与前隆金融互动（例如当您访问本公司网站、使用或购买本公司产品或服务或与前隆金融员工交流时）的过程中随时可能涉及到的个人信息的收集、使用和披露。请阅读下文以详细了解我们收集何种信息、我们如何处理这些信息以及我们如何使用您的个人信息。</p>
    </div>
    <div class="block">
        <h3>一、信息收集与使用</h3>
        <p>我们收集某些个人信息的主要目的是为了尽可能为用户提供最高水平的服务。掌握这些个人信息使我们能够向用户发送产品公告、软件更新和优惠信息，提供方便而又个性化的用户访问服务，改进产品特性及功能。前隆金融的注册用户可以登录旗下产品（如：手机贷客户端、手机贷微信公众平台、手机贷官方网站） 访问所在账户信息，随时查看并修改其个人信息。未注册用户也可以使用部分前隆金融旗下产品及服务，我们不收集未注册用户的个人信息。在许多情况下，前隆金融可能收集信息并将其用于内部业务目的，例如：</p>
        <p>1. 姓名、电子邮件地址、联系方式等个人信息，您使用哪些前隆金融产品及服务，以及您的信用卡卡号等交易信息，以交付并支持本公司的产品及服务；</p>
        <p>2. 人口统计学信息，例如您的职业以及您使用电脑和移动设备的位置-以深化我们对客户需求的了解；</p>
        <p>3. 来自于您电脑或移动设备上的浏览器或前隆金融旗下移动客户端应用的访问跟踪信息，包括IP地址、LBS位置信息、移动产品信息、cookies以及您请求访问的页面，以分析动态、管理网站、追踪您在网站上的浏览历史、发送相关广告并收集广泛的人口统计学信息以供汇总使用（请注意我们不会将IP地址与“个人可识别信息”关联起来）并遵循我们在中国法律项下所承担的法律义务；及不对单个用户进行个人识别的多用户汇总信息，例如地理区域，但我们可能与业务合作伙伴共享这些信息，以深化我们对客户需求的了解并提供相关服务您可以随时选择不再参与这些服务和（或）删除您在任何前隆金融旗下产品上发布的信息和资料。如果您注销账户，您或访问服务的其他人将无法再访问该等信息，但是由于计算机系统的运行和持续数据备份及存档特性，该等信息的残余副本可能续存您在前隆金融用户名及相关信息；</p>
        <p>4. 前隆金融旗下产品允许您基于自己的个人信息创建一个“前隆金融用户名”。 创建用户名后您才能充分利用前隆金融提供的服务。这也使得前隆金融能够提供更加个性化而又便捷的服务。</p>
    </div>
    <div class="block">
        <h3>二、对第三方的信息披露</h3>
        <p>当您在前隆金融旗下产品上访问或发布信息时，即表示您允许前隆金融为提供前隆金融服务之目的而记录、使用该等信息并对其采取其他行动（按适用法律要求和/或如服务条款所述）。我们不会与他人分享这些信息，亦不会将其出售、出租或以其他方式分发给他人（按照本隐私政策之规定披露的除外）。下列情形下，前隆金融可以与外部人士分享您的信息：</p>
        <p>1. 您明确同意我们分享信息；</p>
        <p>2. 为了满足您对产品或服务的要求，我们需要分享您的信息；</p>
        <p>3. 我们善意地认为，为了遵守我们的法定义务，分享或以其他方式允许访问、披露、使用或保存该等信息是必要的；</p>
        <p>4. 您明确要求来自于前隆业务合作伙伴的信息，在这种情况下，在收集信息时，收集个人信息方以及所应适用的隐私声明均将予以明确；</p>
        <p>5. 我们认为为了履行我们的法律报告义务或为了调查、预防非法活动、涉嫌诈骗行为或对人身或财产的潜在威胁，或对该等情形采取行动，有必要向司法机关或其他有权行政机关披露您的信息；</p>
        <p>6. 我们认为为了调查和/或披露可能违反我们服务条款的行为或执行这些服务条款，有必要披露您的信息；或您与我们的某一关联方或合作伙伴之间存在线上或线下（非互联网）关系，或提及的关联方或合作伙伴网站，并已经通过该合作伙伴或关联方之程序或网站注册前隆的在线服务，而我们与该关联方或合作伙伴之间亦存在某种关系。</p>
    </div>
    <div class="block">
        <h3>三、Cookies与跟踪像素</h3>
        <p>Cookies是您访问过某一网站后可能存储在您硬盘上的小数据文件，通常包括匿名唯一识别符。Cookie无法从您的硬盘上取得任何其他数据、传播计算机病毒或捕捉您的电子邮件地址。前隆金融旗下网站将Cookies用于用户认证、记录用户偏好、需使用用户身份的推广活动、记录受众规模及流量模式及某些其他目的。我们的电子邮件消息和新闻简报中可能包含跟踪像素，用于确定消息是否被开启以及链接是否确实被查看。</p>
        <p>您可以将浏览器设置为接受cookies、拒绝cookies或在使用cookie时通知。但是，如果您将浏览器设置为拒绝cookies，您可能将无法使用需要您登录的前隆金融旗下产品或服务或利用前隆金融旗下产品的全部功能。如果您不希望接收跟踪像素，您需要禁止电子邮件客户端中的HTML图像，但这样可能会影响您查看收到的其他电子邮件中的图片。</p>
        <p>前隆金融可能允许在我们旗下产品的部分网页上做广告的第三方业务合作伙伴在您的计算机中保存它们自己的cookies。这些业务合作伙伴无权访问前隆金融旗下网站的cookies，并且它们的使用受其自身隐私政策的约束。</p>
    </div>
    <div class="block">
        <h3>四、数据安全</h3>
        <p>前隆金融致力于保护您的信息安全，并为此采取合理的预防措施。但是，互联网数据传输，无论是有线的还是无线的，均无法保证100%的安全，因此我们无法保证您传输给我们的信息绝对安全。因此，您确认，您对传输给我们的信息自担风险。一旦我们收到您传输的数据，我们将做出一切商业上合理的努力确保其在我们系统上的安全：</p>
        <p>1. 您的前隆金融密码受到加密保护，并且只有您有权访问；</p>
        <p>2. 存储在我们的系统上的您的个人信息及数据受到各种物理、电子和程序措施的保护。它们存储在安全的设施上，并且前隆金融将通过物理和网络方式接触该等设备的权限局限在受过严格训练的部分员工，并定期评估其技术、设备、程序及潜在风险，以维护用户数据的安全和隐私。通常，前隆金融非业务职责内员工并不监控或查看前隆服务中存储的您的个人信息或内容，但如果我们得知我们的服务条款可能已被违反并且需要对此进行确认，或我们确定我们有义务审查或者向以法律或适用法规所授予权行事的其他方提供您的个人信息或内容，则您的个人信息或内容可能会被查看；及某些前隆服务支持使用标准SSL加密以保护数据传输。但是，由于防火墙或其他安全软件可能发生故障，这并不保证该等数据传输不可能被访问、修改或删除。</p>
        <p>3. 如果前隆金融得知安全系统漏洞，我们可能联络您在注册时提供的电子邮件地址或在我们的旗下产品上发布通知，以试图告知您并提供关于保护措施（如适用）的信息。依据您的居住地，您可能依法享有以书面形式接收该等通知的权利。</p>
    </div>
    <div class="block">
        <h3>五、修改与更新</h3>
        <p>由于本隐私政策可能不时被更新，我们将修改并在旗下产品《隐私政策》条款顶部显示其生效日期。您应定期查看以了解我们保护所收集的个人信息的方案及程序。您继续使用前隆金融服务即构成您对本隐私政策及其任何更新版本的同意。</p>
        <p>如果前隆金融出售其资产，与另一实体合并或申请破产，前隆金融旗下产品收集或在运营服务过程中收集的信息可能作为前隆金融资产被转让。</p>
    </div>
    <div class="block">
        <h3>六、联系我们</h3>
        <p>欢迎您对本隐私政策和我们的服务条款提出意见。如有任何问题、意见或疑虑，请发电子邮件至feedback@mobanker.com或寄信至：上海前隆金融信息服务有限公司，中国上海市虹口区东大名路1050号绿地北外滩中心9楼。</p>
    </div>
</div>


<%if(data.rule == "Loan"){%>
<div style="display: block;" class="protocol">
<%}else{%>
<div style="display: none;" class="protocol">
<%}%>
    <div class="block">
        <p class="no">合同编号：<span class="blue"><%=data.contractNo%></span></p>
        <dl>
            <dt>甲方（出借方）</dt>
            <dd>姓名/名称：<span><%=data.lenderName%></span></dd>
            <dd>身份证号码/地址：<span><%=data.lenderIdCard%></span></dd>

            <dt>乙方（借款方/买方）</dt>
            <dd>姓名：<span class="blue"><%=data.borrowerName%></span></dd>
            <dd>身份证号码：<span class="blue"><%=data.borrowerIdCard%></span></dd>

            <dt>丙方（卖方）：<%=data.sellerName%></dt>
            <dd>地址：<span class="blue"><%=data.sellerAddress%></span></dd>
        </dl>
    </div>
    <div class="block">
        <strong>鉴于：</strong><br>
        <p>甲方、乙方通过【应花商城】平台达成借款意愿，均同意网站服务协议和服务规则，并自愿根据该网站相关服务协议和规则达成本协议；</p>
        <p>丙方是一家合法成立并有效存续的有限责任公司，系【应花商城】平台的入驻商家，为乙方提供商品及相关服务；</p>
        <p>各方基于平等自愿原则，经协商一致，于【<%=data.sellerAddress%>】日通过【应花商城】平台达成协议如下，以资共同遵守：</p>
    </div>
    <div class="block">
        <h3>一、借款基本信息</h3>
        <p>甲方同意为乙方购买丙方商品进行融资，乙方指定相应出借资金由甲方直接支付给丙方，包括但不限于通过银行转账或第三方支付平台等支付的方式等。</p>
        <p>丙方收到款项后，乙方与丙方形成买卖合同关系，该买卖合同关系仅限于乙方与丙方之间，与甲方无关；若因丙方产品质量问题存在争议或纠纷，相关纠纷由乙方与丙方协商解决，与甲方无关；若因任何原因导致退货、退款的，相关款项应由丙方返还甲方，款项返如数返还至甲方账户后，本协议终止。</p>
        <p>本协议有效期内，乙方的还款顺序依次为先冲还利息、罚息，再冲还本金。</p>
        <p>相关资金成本如下表：</p>
        <table cellspacing="1" cellpadding="0">
            <tr>
                <th>借款本金数额</th>
                <td>【<span><%=data.amount%></span>】</td>
            </tr>
            <tr>
                <th>利率</th>
                <td><span><%=data.interestRate%></span></td>
            </tr>
            <tr>
                <th>每期偿还金额</th>
                <td><span><%=data.repayAmountDesc%></span></td>
            </tr>
            <tr>
                <th>借款期限/<br>还款分期月数</th>
                <td><span><%=data.period%></span></td>
            </tr>
            <tr>
                <th>还款日</th>
                <td><span>如发生逾期，<%=data.repayDay%>元/笔/期</span></td>
            </tr>
            <tr>
                <th>滞纳金</th>
                <td><span><%=data.overdueFine%></span></td>
            </tr>
            <tr>
                <th>逾期罚息</th>
                <td>计算公式：当期应还金额 *罚息利率（<%=data.overdueCharge%>）*逾期天数</td>
            </tr>
        </table>
    </div>
</div>


<%if(data.rule == "BS"){%>
<div style="display: block;" class="protocol">
<%}else{%>
<div style="display: none;" class="protocol">
<%}%>
    <div class="block">
        <dl>
            <dt>甲方（卖方）：<span class="blue"><%=data.sellerName%></span></dt>
            <dd>地址：<span class="blue"><%=data.sellerAddress%></span></dd>

            <dt>乙方（买方）：<span class="blue"><%=data.buyerName%></span></dt>
            <dd>身份证号码：<span class="blue"><%=data.buyerIdCard%></span></dd>
            <dd>电话：<span class="blue"><%=data.buyerPhone%></span></dd>
            <dd>地址：<span class="blue"><%=data.buyerAddress%></span></dd>
        </dl>
    </div>
    <div class="block">
        <p>甲方为应花分期平台入驻商家，为乙方提供产品销售服务；乙方为应花分期平台的注册用户，有意向甲方购买相关产品；甲、乙双方根据平等自愿原则，达成本协议如下：</p>
    </div>
    <div class="block">
        <h3>一、	合同标的、价款及支付方式</h3>
        <dl class="proInfo">
            <dt>产品名称及价格</dt>
            <dd>产品名称：<span class="blue"><%=data.goodsName%></span></dd>
            <dd>产品价格：<span class="blue"><%=data.goodsPrice%></span></dd>
        </dl>
    </div>
    <div class="block">
        <h3>二、	交货方式、交货日期及交货地点</h3>
        <p>商户根据商品详情页内容完成交货</p>
    </div>
    <div class="block">
        <h3>三、	产品质量</h3>
        <p>1．甲方所提供产品的应符合国家标准及相关法律规定的质量标准。</p>
        <p>2．在质保期内如果甲方提供的产品出现质量问题，甲方需要在7个工作日内给予相应处理。</p>
    </div>
    <div class="block">
        <h3>四、	对产品提出异议的时间和办法</h3>
        <p>1．乙方在验收中，如果发现产品的品种、型号、规格、花色和质量不合规定，应妥为保管，并在7天内向甲方提出书面异议；乙方怠于通知或者自产品收到之日起超过7天未通知甲方的，视为产品合乎约定。</p>
        <p>2．乙方因使用、保管、保养不善等造成产品质量下降的，不得提出异议。</p>
        <p>3．甲方在接到需方书面异议后，应在7天内负责处理，否则，即视为默认乙方提出的异议和处理建议。</p>
    </div>
    <div class="block">
        <h3>五、	违约责任</h3>
        <p>1．甲方如违反本协议条款逾期交付产品的，需按协议要求承担相应违约责任并赔偿损失。</p>
        <p>2．乙方如违反本协议条款逾期支付产品价款的，需按协议要求承担相应违约责任并赔偿损失。</p>
    </div>
    <div class="block">
        <h3>六、	争议解决及法律适用</h3>
        <p>1．因执行本协议所发生的争议或与本协议有关的一切争议，双方应通过友好协商解决。如协商不成，则双方应将争议提交上海仲裁委员会仲裁解决。</p>
        <p>2．本协议适用中华人民共和国大陆地区法律、法规。</p>
    </div>
    <div class="block">
        <p style="text-align: center;">（以下无正文，为双方签署）</p>
    </div>
    <div class="block">
        <dl>
            <dt>甲方：（签字或盖章）　<%=data.sellerName%></dt>
            <dd>日期：<span class="blue"><%=data.date%></span></dd>

            <dt>乙方：（签字或盖章）　<%=data.buyerName%></dt>
            <dd>日期：<span class="blue"><%=data.date%></span></dd>
        </dl>
    </div>
</div>


<%if(data.rule == "Debited"){%>
<div style="display: block;" class="protocol">
<%}else{%>
<div style="display: none;" class="protocol">
<%}%>
    <div class="block">
        <p>鉴于授权人<i> <%=data.authorizer%> </i>通过被授权人<i> <%=data.delegated%> </i>的平台于<i> <%=data.date%> </i>与出借人签署了《借款协议》，现授权人郑重就《借款协议》的还款事宜作出对被授权人的如下授权：</p>
        <p>一、授权人同意被授权人在其逾期还款五日后（逾期第六日0点起），即可委托银行从包括但不限于接受借款的银行账户、以及归属授权人名下的其他任意银行账户内以约定的资费标准划付所欠的本息及逾期管理费。上述银行账户余额不足的，被授权人有权委托银行继续划付直至授权人还清所欠款项为止。由此造成授权人的不便或其他损失的，被授权人不承担法律责任；且在授权人欠款未清之前，该等委托划付还款方式不影响被授权人采取其他方式向授权人催收欠款。</p>
        <p>二、授权人在指定账户中必须留有足够余额，否则因账户余额不足或不可归责于被授权人委托方的任何事由，导致无法及时扣款或扣款错误、失败， 责任由授权人自行承担。</p>
        <p>三、借款协议效力中止或终止后，本授权书效力同时中止或终止，被授权人暂停或终止委托划付款项，借款协议效力恢复后，本授权书效力随即恢复。</p>
        <p>四、本授权书自授权人确认之日起生效，至借款协议效力终止时终止。</p>
        <p>五、授权人同意终止授权或变更账户、通讯地址时，应于当期款项交付日10个工作日前向被授权人递交书面通知，若因未及时通知被授权人而产生的一切风险、损失均由授权人自行承担。</p>
        <p>六、授权人保证本授权书的真实性、合法性、有效性，被授权人依据本授权书进行的委托扣款操作引起的一切法律纠纷或风险，由授权人独立承担或解决。本授权书的复印件、扫描件与原件具有同等法律效力。</p>
        <p>七、授权人接受借款银行账户信息：</p>
        <p>
            银行卡户名：<i> <%=data.bankUserName%> </i><br>
            银行卡开户银行：<i> <%=data.bankName%> </i><br>
            银行卡账号：<i> <%=data.bankCardNo%> </i><br>
            身份证号码：<i> <%=data.idCard%> </i><br>
            联系手机：<i> <%=data.phone%> </i><br>
            授权人确认：<i> <%=data.authorizer%> </i><br>
        </p>
    </div>
    <div class="block">
        <p>（以下无正文，为各方签署）</p>
    </div>
    <div class="block">
        <p>授权人：<i> <%=data.authorizer%> </i></p>
        <p>被授权人：<i> <%=data.delegated%> </i></p>
        <p>日期：<i> <%=data.date%> </i></p>
    </div>
</div>
<%}%>