<div class="login">
    <div class="filed-block">
        <ul>
            <li>
                <label>应花账号</label>
                <p><input id="user-phone" type="tel" maxlength="11" readonly value="18321268749"/></p>
            </li>
            <li>
                <label>设置密码</label>
                <p><input id="password" type="password" maxlength="10" placeholder="输入6-10位英文数字组合密码"/></p>
            </li>
        </ul>
    </div>
    <p class="t">注册成功后，该账号在应花商城、应花分期付款、手机贷中均可使用。</p>
    <div class="button"><button id="register-button">注册</button></div>
    <p class="x">点击注册表示阅读并同意<a data-page="Service">《注册服务协议》</a>、<a data-page="Private">《隐私政策》</a>、<a data-page="YHFQ">《应花分期协议》</a>。</p>
</div>